<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    role="navigation"
    mode="side"
    opened="true"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['page1']">Page 1</a>
      <a mat-list-item [routerLink]="['page2']">Page 2</a>
      <a mat-list-item [routerLink]="['page3']">Page 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-app-bar />
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
